@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.link-hover-c {
  @apply border-b-transparent border-b-2 hover:border-b-slate-800 transition;
}
